@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   a {
      @apply duration-200;
      @apply rounded;
      @apply transition;
      @apply underline;
      @apply text-teal-500;
   }

   button {
      @apply duration-200;
      @apply rounded-md;
      @apply transition;
   }

   button:focus,
   button:focus-visible,
   a:focus,
   a:focus-visible {
      @apply outline-none;
      @apply ring;
      @apply ring-chakra-focus;
   }

   h1 {
      @apply text-4xl;
      @apply font-extrabold;
      @apply text-heading;
   }

   h2 {
      @apply text-2xl;
      @apply font-bold;
      @apply text-heading;
   }

   h3 {
      @apply text-xl;
      @apply font-semibold;
      @apply text-heading;
   }

   li {
      @apply pl-[.375rem];
      @apply my-2;
      @apply text-gray-700;
   }

   ol {
      @apply mb-5;
      @apply pl-[1.625rem];
   }

   p {
      @apply text-gray-700;
   }

   td {
      @apply p-0;
   }
}
